use flake "github:sbfaulkner/dev-shells#go-1-26"
use flake "github:sbfaulkner/dev-shells#ragel"

watch_file go.mod
watch_file go.sum

if ! go list -m all >/dev/null 2>&1; then
  echo "Fetching Go modules..."
  go mod download
fi
